<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>pf-calendar-events-data demo</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../pf-calendar-events-data.html">
    <link rel="import" href="../../polymerfire/polymerfire.html">
    <style is="custom-style" include="demo-pages-shared-styles">
    </style>
  </head>
  <body>
    <div class="vertical-section-container centered">
      <h3>Basic pf-calendar-events-data demo</h3>
      <demo-snippet>
        <template>
          <firebase-app
                  name="pf-calendar-firebase"
                  api-key="AIzaSyBOML3Qc_rtqDeVAr2ous6Z8-E1FDqH4CI"
                  auth-domain="pf-calendar-firebase.firebaseapp.com"
                  database-url="https://pf-calendar-firebase.firebaseio.com">
          </firebase-app>
          <pf-calendar-events-data
                  databasename="pf-calendar-firebase"
                  databasepath="testdata"
                  eventsData="{{results}}"
                  filterAttr="color"
                  filterValue="green"></pf-calendar-events-data>

        </template>
      </demo-snippet>
    </div>
  </body>
</html>
